.radarchart {
    width: 100%;
    background-color: #282D30;
    border-radius: 5px;
    // padding: 20px;
    // margin: 0 2%;
  }
  
  .recharts-polygon {
    stroke: none;
  }
  
  .recharts-polar-angle-axis-tick {
    font-size: 15px;
    fill: white;

  }
